@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /* Font Size */
  --text-xxs: 8px;
  --leading-xxs: 1rem;

  /* Colors */
  --color-primary: #111827;
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  font-family: var(--font-poppins);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  caret-color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[disabled] {
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
